#course-form{
    margin-top: 0.5em;
}

#container {
    width: 25em;
    height: 30em;
    padding: 1em;
    overflow: auto;
    background-color: #092635;
}

#edit-mode {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

.create-course{
    margin-bottom: 1em;
}

.create-course-form {
    margin-bottom: 1em;
}

.course {
    margin-bottom: 1em;
}

.bottom-row {
    display: flex;
    justify-content: space-between;
}

.header-row {
    display: flex;
    justify-content: flex-end;
}

.form-label {
    margin-top: 0.25em;
}

.edit-mode {
    display: none;
}

.edit-icon {
    width: 2em;
    height: 2em;
    margin-bottom: 0.5em;
}